<img src="<%= asset_url("ll.png") %>" alt="Logo Image">
<h2>Kullanıcı Bilgileri Güncelleme</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <% resource.errors.messages.each do |k,message| %>
    <%= "#{k} #{message[0]}" %><br>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true, label: "Adınız ve Soyadınız" %>
    <%= f.input :email, required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Halen bu e-posta adresinden doğrulama bekleniyor: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "şifrenizi değiştirmek istemiyorsanız boş bırakın", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "Değişikliklerin gerçekleşebilmesi için mevcut şifrenize ihtiyacımız var.", required: true %>
    <%= f.input :university, collection: ['Balıkesir Üniversitesi', 'Bursa Teknik Üniversitesi', 'Uludağ Üniversitesi'], prompt: "Üniversitenizi Seçin", required: false, label: "Üniversite" %>
    <%= f.input :department, placeholder: "Bölümünüzü girin", required: false, label: "Bölüm" %>
    <%= f.input :mobile_phone, placeholder: "Cep Telefonunuzu Girin", required: false %>
    <%= f.input :role, collection: {applicant: "Projeye Başvurmak İstiyorum", volunteer: "Gönüllü Çalışmak istiyorum"}.map { |k,v| [v,k] }, prompt: "Bu sitedeki rolünüz ne olacak?", label: "Rol Seçimi"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Güncelle" %>
  </div>
<% end %>

<h3>Hesap Silme</h3>

<p>Mutsuz musunuz? <%= link_to "Hesabımı Sil", registration_path(resource_name), data: { confirm: "Emin misiniz?" }, method: :delete %></p>

<%= link_to "Geri Dön", :back %>
