<h3>Proje Konusu</h3>
<%= simple_format(@admission.subject) %>
<h3>Proje Özeti</h3>
<%= simple_format(@admission.summary) %>

<h2>Lütfen proje için hakem seçiniz</h2>

<%= form_tag "/admissions/#{@admission.id}/reviews" do %>
  <% 5.times do %>
    <%= render "reviewer_select_box" %>
  <% end %>
  <%= submit_tag "Gözden Geçirmeleri Oluştur ve Hakemlere Posta Gönder" %>
<% end %>
