<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="<%= asset_url("ll.png") %>" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="navigation-tools">
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><%= link_to "Ana Sayfa", root_path %></li>
          <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">Yarışma Hakkında</a>
            <ul class="submenu">
              <li><%= link_to "Yarışma Hakkında", page_path('yarisma') %></li>
              <li><%= link_to "Kurullar ve Bilgiler", page_path('kimler') %></li>
              <li class="nav-link"><a href="javascript:void(0)">Galeri</a></li>
              <li><a href="#">Şartname</a></li>
            </ul>
          </li>
          <li class="nav-link"><%= link_to "İletişim", page_path("iletisim") %></li>
          <% if user_signed_in? %>
            <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">Hesabım</a>
              <ul class="submenu">
                <li class="nav-link"><a href="javascript:void(0)">Hesabım</a></li>
                <li class="nav-link"><%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <% if current_user.applicant? %>
              <li class="nav-link"><button class="application-btn"><%= link_to "Yeni Başvuru", new_admission_path %></button></li>
            <% elsif current_user.reviewer? %>
              <li class="nav-link"><button class="application-btn">Hakem Link</button></li>
            <% else %>
              <li class="nav-link"><button><%= link_to "Yönetim", rails_admin_path %></button></li>
            <% end %>
          <% else %>
            <li class="nav-link"><button><%= link_to "Giriş Yap", new_user_session_path %></button></li>
          <% end %>
      </nav>
    </div>
  </div>
</header>
